**/node_modules
**/Dataset
**/data
**/**/data/**
**/senti_clientwise_try1.csv
**/senti_orderwise.csv
**/senti_orderwise_try3.csv
**/X_train.csv
**/mnist_train.csv
**/orderwise_cli_sp_chats.csv
**/*.csv
*csv
/ML/1_mockData/try1/orderwise.csv
/ML/1_mockData/try1/productwise.csv
**/db-data
**/db
**/*.pickle
**/*.pkl
**/.env