:root{
	--black : #1D1D1D;
	--white : #ffffff;
	--blue  : #008cff;
	--green : #78ee18;
  --red : #ff2211;
	--sample3_background :#d1caa1 ;
	--sample3_card :#306bac;
	--sample3_text : #222222;
	--sample3_card_text:#ffffff ;
}
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Comfortaa', cursive;

}
html {
	scroll-behavior: smooth;
	scroll-padding-top: 80px;
  }
nav{
	background: var(--black);
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
	position: sticky;
	top: 0;
	width: 100%;
	padding: 0.5rem calc((100vw - 1200px)/2);
	z-index: 100;

}
nav a{
  text-decoration: none;
  font-size:2rem;
  color:white;
  padding:.4rem;
  border-radius: .4rem;
}
nav a:hover{
  background-color: var(--blue);

}
.active{
  background-color: var(--blue);
}
.themeGrid{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap:1rem;
  padding:1rem 0;
  margin:1rem 0;
  width:90vw;
}
.themeGrid .tgComp{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:.5rem;
  border-radius: .3rem;
  flex-direction: column;
  width: auto;
  background-color: var(--white);
  box-shadow: -4px 4px 16px rgba(0,0,0,.5);
}
@media screen and (max-width:885px){
  .themeGrid{
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width:586px){
  .themeGrid{
    grid-template-columns: 1fr ;
    padding:.5rem 0;
    margin: .5rem 0;
    grid-gap:.5rem;
  }
}

.inputCD input{
  padding:.5rem;
  border:none;
  border-bottom:2.5px solid var(--blue);
  background:rgba(231,231,231,.5);
  border-radius:.3rem .3rem 0 0;
  transition: 300ms all ease-in-out ;
  width:80%;
}
.inputCD input:focus{
  outline:none;
  background-color:rgba(0,0,0,.8);
  color:var(--white);
  font-weight: 900;
}



.btn,.btn-logout,.btn-sm{
  background-color: none;
  border:none;
  background-color: var(--blue);
  color:var(--white);
  font-size: 1.5rem;
  padding:.5rem;
  border-radius: .5rem;
  font-weight: bold;
  cursor:pointer;
	transition: 300ms ease-in;
}
.btn-sm{
  font-size:1rem;
}
.btn-logout{
  background-color: var(--red);
}
.btn-logout:hover{
  background-color: var(--black);
  color:var(--red);
}
.btn:hover,.btn-sm:hover{
   background-color: var(--black);
}

.CreateHeader{
  background: linear-gradient(0.25turn, #000000, var(--blue),#000000);
  color:white;
  font-weight: 900;
  padding: 1.5rem calc((100vw - 1200px)/2);
  display: flex;
  justify-content: center;
  align-items: center;
  margin : 1rem 0;
  font-size:2rem;
  border-radius: 1rem;
  width: 90vw;
}





.loginPage{
  padding: 0.5rem calc((100vw - 1200px)/2);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.loginPage p{
  font-size:2rem;
  text-align: center;
  margin-bottom:2rem;
  padding:1rem;
}
.home{
  padding: 0.5rem calc((100vw - 1200px)/2);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.createPage{
  padding: 0.5rem calc((100vw - 1200px)/2);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.HomeAdd{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.createHomeForm{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:.5rem;
  border-radius: .3rem;
  flex-direction: column;
  width: auto;
  background-color: var(--white);
  box-shadow: -4px 4px 16px rgba(0,0,0,.5);
}
.submit-div{
	margin-top : 2rem;
}

.createHomeForm .form-grid{
  display:flex;
  flex-direction:column;
  width:40vw;
  margin:.5rem 0;
}
.createHomeForm .form-grid .inputCD{
  display: flex;
  justify-content: space-between;
  padding: .5rem 0;
}
@media screen and (max-width:818px){
  .createHomeForm .form-grid .inputCD{
    flex-direction: column;
  }

.createHomeForm .form-grid{
  width: 80vw;
}
.inputCD input{
  width:100%;
}
}
.submit-div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:.5rem;
  border-radius: .3rem;
  flex-direction: column;
  width: auto;
  background-color: var(--white);
  box-shadow: -4px 4px 16px rgba(0,0,0,.5);
  margin-bottom:2rem;
}

.HomeView{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width:90vw;
}
/* ui1 */
.ui1{
  padding:.5rem;
  border-radius:.5rem;
}
.ui1 img{
  border-radius: .5rem;
}

/* ui2 */
.ui2{

}

/* ui3 */
.ui3{

}

/* ui4 */
.ui4{

}
